<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crypto Coin List
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="searchCoins($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Tab 1</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <div class="pagination">
    <button ion-button [disabled]="currentPage === 1" (click)="goToPreviousPage()">Page précédente</button>
    <button ion-button [disabled]="currentPage === totalPages" (click)="goToNextPage()">Page suivante</button>
  </div>
  <ion-list>
    <ion-item *ngFor="let coin of filteredCoins" (click)="viewCoinDetails(coin.id)">
      {{ coin.name }}
    </ion-item>
    <div *ngIf="selectedCoin">
      <h2>{{ selectedCoin.name }}</h2>
      <p>{{ selectedCoin.description.fr }}</p>
      <img [src]="selectedCoin.image.large" alt="Dogecoin Image">
      <p>Prix: {{ selectedCoin.market_data.current_price.usd }} USD</p>
      <p>Capitalisation boursière: {{ selectedCoin.market_data.market_cap.usd }} USD</p>
      <p>Volume échangé (24H): {{ selectedCoin.market_data.total_volume.usd }} USD</p>
      <button ion-button (click)="showChart()">Afficher le cours de la monnaie</button>
    </div>
    <canvas #chartCanvas></canvas>
  </ion-list>
</ion-content>
